<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 定义了一个名为 “lineDetailMapper” 的映射器 -->
<mapper namespace="cs307.cs30724springproject2.mapper.lineDetailMapper">
    <update id="updateInsertStationNoBehind" parameterType="map">
        UPDATE line_detail
        SET station_no = station_no + #{n}
        WHERE station_no > (SELECT station_no FROM line_detail WHERE line_name = #{lineName} AND station_name = #{stationName})
    </update>

    <update id="updateInsertStationNoFront" parameterType="map">
        UPDATE line_detail
        SET station_no = station_no + #{n}
        WHERE station_no >= (SELECT station_no FROM line_detail WHERE line_name = #{lineName} AND station_name = #{stationName})
    </update>

    <!-- 插入多个站点 -->
    <insert id="insertMultipleStationsBehind" parameterType="map">
        INSERT INTO line_detail (line_name, station_name, station_no)
        VALUES
        <foreach collection="stations" item="station" separator=",">
            (
            #{lineName}, #{station.name},
            (
            SELECT station_no FROM line_detail
            WHERE line_name = #{lineName} AND station_name = #{stationName}
            ) + #{station.stationNoIncrement}
            )
        </foreach>
    </insert>


</mapper>