<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cs307.cs30724springproject2.mapper.passengerOnboardMapper">
    <!-- 返回乘客信息 -->
    <select id="selectAllPassengerOnboard" resultType="cs307.cs30724springproject2.entity.passengerOnboard">
        SELECT * FROM passenger_onboard
    </select>

    <select id="selectByIdStation" parameterType="String" resultType="passengerOnboard">
        SELECT * FROM passenger WHERE passenger_id = #{passengerId} and start_station = #{startStation}
    </select>

    <!-- 删除乘客信息 -->
    <delete id="deleteByPrimaryKey" parameterType="int">
        DELETE FROM passenger_onboard WHERE id = #{id}
    </delete>

    <delete id="deleteByIdStation" parameterType="String">
        DELETE FROM passenger_onboard WHERE passenger_id = #{passengerId} and start_station = #{startStation}
    </delete>

    <!-- 插入乘客信息 -->
    <insert id="insert" parameterType="passengerOnboard">
        INSERT INTO passenger_onboard (passenger_id, start_station, start_time) VALUES (#{passengerId}, #{station}, #{startTime})
    </insert>



</mapper>