<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 定义了一个名为 “stationMapper” 的映射器 -->
<mapper namespace="cs307.cs30724springproject2.mapper.stationMapper">
    <!-- 查询站点信息 -->
    <select id="selectById" parameterType="int" resultType="station">
        SELECT * FROM station WHERE id = #{id}
    </select>

    <select id="selectByChineseName" parameterType="String" resultType="station">
        SELECT * FROM station WHERE Chinese_name = #{chineseName}
    </select>

    <!-- 删除站点信息 -->
    <delete id="deleteById" parameterType="int">
        DELETE FROM station WHERE id = #{id}
    </delete>

    <!-- 插入站点信息 -->
    <insert id="insert" parameterType="station">
        INSERT INTO station (district, English_name, Chinese_name, intro) VALUES (#{district}, #{englishName}, #{chineseName}, #{intro})
    </insert>

    <!-- 修改站点信息 -->
    <update id="updateByChineseName" parameterType="station">
        UPDATE station SET district = #{district}, english_name = #{englishName}, chinese_name = #{chineseName}, intro = #{intro} WHERE chinese_name = #{chineseName}
    </update>

</mapper>