<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 定义了一个名为 “stationMapper” 的映射器 -->
<mapper namespace="cs307.cs30724springproject2.mapper.stationMapper">
    <!-- 查询用户信息 -->
    <select id="selectById" parameterType="int" resultType="station">
        SELECT * FROM station WHERE id = #{id}
    </select>

</mapper>