<!-- stationInfo.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Station Information</title>
</head>
<body>
<h1>Station Information</h1>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<table>
    <thead>
    <tr>
        <th>Station ID</th>
        <th>District</th>
        <th>EnglishName</th>
        <th>ChineseName</th>
        <th>condition</th>
        <th>Intro</th>
        <!-- 其他站点信息的表头 -->
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${station.id}"></td>
        <td th:text="${station.district}"></td>
        <td th:text="${station.englishName}"></td>
        <td th:text="${station.chineseName}"></td>
        <td th:text="${station.condition}"></td>
        <td th:text="${station.intro}"></td>
        <!-- 其他站点信息的表格数据 -->
    </tr>
    <!-- 其他行 -->
    </tbody>
</table>

